altgraph==0.17.3 
appdirs==1.4.4 
aria2p==0.12.0 
beautifulsoup4==4.12.3 
bs4==0.0.2 
certifi==2024.7.4 
charset-normalizer==3.3.2 
colorama==0.4.6 
idna==3.7 
loguru==0.7.2 
lxml==4.9.3 
numpy==1.25.2 
pandas==2.0.3 
pefile==2023.2.7 
Pillow==10.0.0 
pyinstaller==5.13.2 
pyinstaller-hooks-contrib==2023.8 
pyTelegramBotAPI==4.21.0 
python-dateutil==2.8.2 
python-pptx==0.6.21 
pytz==2023.3 
pywin32-ctypes==0.2.2 
requests==2.32.3 
six==1.16.0 
soupsieve==2.5 
tzdata==2023.3 
urllib3==2.2.2 
websocket-client==1.8.0 
win32-setctime==1.1.0
XlsxWriter==3.1.2
